.list {
  list-style-type: none;

  .item {
    cursor: pointer;
    border: 1px solid whitesmoke;
    background: var(--gray1);
    border-radius: var(--border-radius);
    padding: calc(2 * var(--padding));
    margin-top: var(--margin);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      transition: 0.2s;
      border-color: var(--gray2);
    }
  }
}
